/* chrome - header and footer */

/* navbar */

.navbar-inner .nav {
	float: right;
}

.navbar-toggle {
    border: 1px solid #ffffff;
}
.navbar-toggle .icon-bar {
    background-color: #ffffff;
}

#navbar.navbar-collapse.collapse.in {
    background-color: none;
    float: right;
    padding-right: 15px;
    border-width: 0;
}

.nav-item {
    color: rgb(255,255,255);
    border: none;
    border-radius: 5px;
    width: 160px;
    //padding: 8px;
    margin-left:10px;
}

/* needed to override bootstrap navbar-nav > li > a default padding */
.navbar-nav li a.navbar-btn {
    padding: 8px;
    cursor: pointer;
}


.nav > li > .navbar-btn.nav-item:hover, .nav > li > .navbar-btn.nav-item:focus {
    border: 1px solid white;
    color: #fff;
}

.nav > li {
    .home:hover, .home:focus {
      background-color: $home-over;
      border: 2px solid white;
    }
    .intro:hover, .intro:focus {
      background-color: $intro-over;
    }
    .data:hover, .data:focus {
      background-color: $data-over;
    }
    .faqs:hover, .faqs:focus {
      background-color: $faqs-over;
    }
}

.nav-item.active {
    font-weight: bold;
    border: 2px solid white;
}

/* background for vertical navbar only */
@media (max-width: $screen-sm-min) {
  .collapse.in ul.nav.navbar-nav.navbar-right {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
  }
}

ul.nav.navbar-nav.navbar-right {
    margin: 0 -5px;
    padding-right: 10px;
}

ul.nav.navbar-nav.navbar-right .fa {
    font-size: 22px;
}

.in .nav-item {
    display: block;
}

.nav-item.simple-title {
    color: rgba(255,255,255,1);
}

nav.navbar.navbar-simple.navbar-fixed-top {
    max-height: 0;
}

.navbar-inner .container {
    background-color: $dark-base;
    opacity: 0.95;
    width: 100%;
    height: 55px;
}


/*
 * :todo - Check the following section
 */
.main-title { float: left;
              clear: none;
              color: $title-colour;
              width: calc(100% - 160px);
              position: relative;
              top: 5px;
              left: 20px;
              text-align: left;
              z-index: 100;
              padding: 0;
              margin: 0;
              font-size: 16px;
            }

@media screen and (min-width: 550px) {
    .main-title {
        top: 10px;
        font-size: 26px;
        max-width: 400px;
    }
}

@media screen and (max-width: 549px) {
    .main-title {
        top: 15px;
        font-size: 20px;
        max-width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .main-title {
        top: 20px;
        font-size: 16px;
        max-width: 400px;
    }
}

/*------- TITLE  --------- */
/**
 * Chrome
 */
.chrome-head-rel {
    width: 100%;
    height: 80px;
    background-color: $title-background;
    color: $title-colour;
    position: relative;
}

/* site logo */
.chrome-head-rel div {
    transform:         translate(0, -7px) rotate(180deg);
    position:          relative;
    z-index:           1;
    margin-left:       30px;
    top:               3px;
    background-image:  url(../assets/logo3.png);
    background-repeat: no-repeat;
    background-size:   100%;
    width:             70px;
    height:            80px;
    float:             left;
}



/*------- FOOTER --------- */

.partners {
    margin-top: 40px;
    z-index: 1000;
    position: relative;
    background-color: $dark-lighter;
}

.partners .row {
    padding-top: 30px;
    a {
      color: white;
      opacity: 0.6;
      padding-right: 20px;
      padding-left: 20px;
    }
    a:hover {
            opacity: 1.0;
            text-decoration: none;
          }
    p.copyright, p.cookies {
      color: white;
      }
}

.partners .row img {
    padding: 20px;
    min-width: 120px;
    max-width: 250px;
}

.footer {
    color: white;
    background-color: $dark-base;
    padding: 20px 60px;
    font-size: 14px;
    margin: 0px -15px 0px;
}

.footer.legal {
    background-color: #444;
}

.partners .collab-logo {
    display: inline;
    margin-bottom: 10px;
}

.acks {
    max-width: 1000px;
}

/*
 * data-selector
 */
.data-selector {
  position: fixed;
  top: 300px;
  right: 0px;
  width: 130px;
  padding: 0 10px 10px 10px;
  z-index: 1000;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 0.8;
  box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.3);
  h1 {
      font-size: 18px;
  }
}