/* chrome - header and footer */

/* navbar */



.navbar-inner .nav {
	float: right;
}


/* ------ */

.navbar-prais2 {
    margin-bottom: 0px;
    background-color: rgba(71, 94, 99, 0);
}

.navbar-toggle {
    border: 1px solid #ffffff;
}
.navbar-toggle .icon-bar {
    background-color: #ffffff;
}

#navbar.navbar-collapse.collapse.in {
    background-color: none;
    float: right;
    padding-right: 15px;
    border-width: 0;
}

.nav-item {
    color: rgb(255,255,255);
    border: none;
    border-radius: 5px;
    width: 160px;
    //padding: 8px;
    margin-left:10px;
}

/* needed to override bootstrap navbar-nav > li > a default padding */
.navbar-nav li a.navbar-btn {
    padding: 8px;
}


.nav > li > .navbar-btn.nav-item:hover, .nav > li > .navbar-btn.nav-item:focus {
    border: 1px solid white;
    color: #fff;
}

.nav > li {
    .home:hover, .home:focus {
      background-color: $home-over;
      border: 2px solid white;
    }
    .intro:hover, .intro:focus {
      background-color: $intro-over;
    }
    .data:hover, .data:focus {
      background-color: $data-over;
    }
    .faqs:hover, .faqs:focus {
      background-color: $faqs-over;
    }
}

.nav-item.active {
    font-weight: bold;
    border: 2px solid white;
}

/* background for vertical navbar only */
@media (max-width: $screen-sm-min) {
  .collapse.in ul.nav.navbar-nav.navbar-right {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
  }
}

ul.nav.navbar-nav.navbar-right {
    margin: 0 -5px;
    padding-right: 10px;
}

ul.nav.navbar-nav.navbar-right .fa {
    font-size: 22px;
}

.in .nav-item {
    display: block;
}

.nav-item.simple-title {
    color: rgba(255,255,255,1);
}

nav.navbar.navbar-simple.navbar-fixed-top {
    max-height: 0;
}

.navbar-inner .container {
    background-color: #475E63;
    opacity: 0.95;
    width: 100%;
    height: 55px;
}

.main-title { float: left;
              clear: none;
              color: #CCDDFF;
              width: calc(100% - 160px);
              position: relative;
              top: 5px;
              left: 20px;
              text-align: left;
              z-index: 100;
              padding: 0;
              margin: 0;
              font-size: 16px;
            }

@media screen and (min-width: 550px) {
    .main-title {
        top: 10px;
        font-size: 26px;
        max-width: 400px;
    }
}

@media screen and (max-width: 549px) {
    .main-title {
        top: 15px;
        font-size: 20px;
        max-width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .main-title {
        top: 20px;
        font-size: 16px;
        max-width: 400px;
    }
}

/*------- FOOTER --------- */

.partners {
  z-index: 1000;
  position: relative;
  background-color: #637F84;
}

.partners .row {
    padding-top: 50px;
}

.partners .row img {
    padding: 20px;
    min-width: 100px;
    max-width: 250px;
}

.footer {
  color: white;
  background-color: #475E63;
  padding: 20px 60px;
  font-size: 14px;
  margin: 50px -15px 0px;
}

.partners .collab-logo {
display: inline;
margin-bottom: 10px;
}
