section.short-answer {
    margin-top: 30px;
    .icon{
        margin-top: 0px;
        width: 80px;
        font-size: 21px;
        font-weight: 200;
        float: left;
        clear: left;
        .fa-comment {
            color: #FFA500;
            font-size: 50px;
        }
    }
    .reply {
        font-size: 21px;
        font-weight: 200;
        margin-bottom: 40px;
    }
}

.faq {
    .query {
        margin-top: -32px;
        width: 80px;
        float: left;
        .fa-question {
            font-size: 100px;
            color: #FFA500;
        }
    }
    .title {
        margin-top: 40px;
    }
    .body {
        clear: both;
    }
    h1 {
        font-size: 30px;
    }
    margin-bottom: 50px;
}

.one-block {
    .faq-block {
        font-size: 140%;
        h4 {
              display: none;
        }
    }
}

.faq-block {
    padding: 10px;
    margin: 20px 0px 0px 0px;
    border: none;
    color: white;
    width: 100%;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #CCCCCC;
    a {
      color: white;
      }
}

.faq-block li {
    padding: 5px;
}

.faq-block li a {
    display: block;
    width: 100%;
    padding: 5px;
    color:white;
    opacity: 0.8;
    text-decoration: none;
}

.faq-block li a:hover {
    border: 1px solid white;
    padding: 4px;
    opacity: 1;
}


.faq-nav-1 {
    background-color: $home;
}

.faq-nav-2 {
    background-color: $intro;
}

.faq-nav-3 {
    background-color: $data;
}

.faq-nav-4 {
    background-color: $faqs;
}

.faq-nav-5 {
    background-color: $home;
}

.faq-nav-6 {
    background-color: $intro;
}

.btn.btn-primary.back {
    margin-top: 20px;
}


ul.breadcrumb {

    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0 10px;;
    li {
      display: inline-block;
      //padding: 8px 10px 3px 10px;
      //margin-right: 10px;
      //background-color: rgba(127,205,187,0.5);
      //border-top-right-radius: 20px;
      //border-bottom-right-radius: 10px;
      cursor: pointer;
    }
    li::before {
      padding: 0 5px 0 5px;
      content: ">";
    }
    li:first-child::before {
      padding: 0;
      content: "";
    }
}

nav {
    display: block;
    position: absolute;
    width: 100%;
}

ul.pager {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 40px;
    li {
      display: inline-block;
      }
    li>a:focus, li>a:hover {
        text-decoration: none;
        background-color: #eee;
    }
    li>a, li>span {
      display: inline-block;
      padding: 5px 14px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 15px;
    }
}
