* {
    box-sizing: border-box !important;
}

.box {
    margin: 0 20px;
}

#app {
    position:relative;
    height:100vh;
    background-color:#ffffff;
}

/**
 * New bubble faqs
 */
.bubble-group h2 {
    margin: 0;
    padding-top: 20px;
    clear: both;
}

.bubble {
    border: none;
    border-radius: 20px;
    color: white;
    box-shadow: 1px 1px 1px grey;
    text-shadow: -1px -1px 1px grey;
    padding: 10px 20px 12px 20px;
    //font-family: chalkboard, comic-sans;
    font-size: 20px;
    max-width: 400px;
    margin:10px;
    position: relative;
    cursor: pointer;
}

/*
.callout {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 1px 1px 1px grey;
    background-color: rgba(127, 205, 187, 1);
    width: 20px;
    height: 20px;
    bottom: -9px;
    right: 20px;
    position: absolute;
}
*/

.bubble:hover {
    box-shadow: 1px 1px 4px black;
}

/*
.callout:hover {
    box-shadow: 2px 2px 2px grey;
}
*/

.left {
    left: 20px;
}

.right {
    right: 20px;
}

.on-left {
    margin-left: 60px;
    float: left;
    clear: both;
}

.on-right {
    margin-right: 60px;
    float: right;
    clear: both;
}

.bubble-group {
    clear: both;
    float: left;
    width: 100%;
    padding: 10px 20px 40px 20px;;
    margin: 20px 5px 20px 0px;
    box-shadow: 2px 2px 6px grey;
}

/**
 * Scrollspy
 */

@media screen and (max-width: 768px)
{
    #faq-sidebar {
        display: none;
    }
}

#faq-sidebar li.active {
    border-left: 2px solid black;
    padding-left: 10px;
}

#faq-sidebar li ul {
    display: none;
}

#faq-sidebar li.active ul {
    display: block;
}

.image-para {
  margin-bottom: 30px;
  clear: both;
  margin-top: 22px;
  min-height: 70px;
}

.todo {
    background-color: yellow;
}

/*
 * Make bootstrap modals scrollable
*/
.modal {
    overflow-y: none !important;
    //max-height: none; !important;
}

.modal .modal-body {
    max-height: 480px;
    overflow-y: auto;
}

img.pull-left {
    margin-right: 20px;
}

.w100 {
    width: 100px;
}

.w150 {
    width: 150px;
}
