/resources/public/js/compiled/**
.DS_Store
*/.DS_Store
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
bower_components
resources/docs/eganimation_narrated\ v2.pptx
*~
.#*
