{:paths ["script" "src"]
 :deps {}
 :tasks {:requires ([babashka.fs :as fs]
                    [clojure.java.shell :as sh])

         ; clears the caches - compilation may fail on first try after running this task
         clean (fs/delete-tree ".cpcache/") 
         
         ;; generates the css
         sass (do
                (fs/create-dirs "target/public/css")
                (shell "sass sass/app.scss target/public/css/app.css"))

         ;;builds index.html, intro.html and the faq pages
         gen-html-dev (shell "clj -X:gen-dev")
         gen-html (shell "clj -X:gen")  
         
         ;;create the builds
         gen-dev (shell "clojure -M:fig:build-dev")
         gen (shell "clj -M:build-min")
         }
 }
