  body {background: url(../back1.png) repeat-x #fff; font-family: Fira Sans, Roboto, Helvetica Neue, Arial, sans-serif; font-size: 12pt; line-height: 17pt; padding: 0}
  .container {;}
  .menu2 a {color:#000; text-decoration:none; padding: 10px; border-radius: 10px; font-size: 9.5pt; border: 1px #fff solid; color: #fff; background: url(back1.png) repeat-x #7171e0;}
  .menu2 a:hover {color: #fff; text-decoration:underline;}
  .menu2 {text-align:right; line-height: 35pt;}
  a {color:#000; text-decoration:underline;}
  a:hover {color:#000; text-decoration:none;}
  ul {list-style-type: square; margin:0; padding: 0}
  ul.menu2 {list-style-type: none; padding: 20px 10px 20px 10px}
  li.menu2 {display:inline; font-weight: 700}
  h1 { font-size: 3.8rem; font-weight: 700; margin: 15pt 15pt 15pt 15pt; text-align:center;  padding: 0;}
  h2 { font-size: 2.8rem; font-weight: 700; padding-top: 5pt;}
  h3 { font-size: 2rem; font-weight: 700; padding-top: 5pt;}
  .row {padding: 0pt 15pt 10pt 15pt}
  p {margin-bottom:12pt}
.yellowbox {border-radius:10px; background:#ffffaa; padding: 15pt; font-weight:700}
.footer {font-size:7pt; text-align:center; line-height: 10pt}
.one columns, .one column {font-size:1pt; line-height:1pt;}
.logobox {float:left; width: 250px;}