* {
    box-sizing: border-box !important;
}

.box {
    margin: 0 20px;
}

i.fa.fa-sort, i.fa.fa-sort-asc, i.fa.fa-sort-desc {
    color: black;
}

@media print {


    .screenable {
        display:none;
    }

    .printable thead i {
        display:none;
    }

    .printable thead .slider {
        display:none;
    }

    .printable thead .slider-label {
        display:none;
    }

    thead .btn-xs {
        display:none;
    }

    .printable thead th {
        background-color: #578fd2 !important;
    }

    .printable thead th .axis-container div {
        border-left: black 1px dashed;
        /*background-color: #cccccc !important;*/
    }

    .printable thead th * {
        color: #ffffff !important;
    }

}

.screenable {
    width: 100%;
    position: fixed !important;
    top: 0 !important;
    z-index: 1 !important;
    box-shadow: 0px 2px 2em 0px rgba(0,0,0,0.3);
}

.printable {
    width: 100%;
    position: relative;
    background: #fff;
    z-index: 0;
    padding: 0px;
    margin: 0;
    display: block;
    box-sizing: border-box;
}

@media screen {
    .printable thead {
        display: none;
    }
    .printable {
        margin-top: 110px !important;
    }
}

/**
 * Chrome
 */



.intro {
    background-color: rgba(0, 174, 239, 1);
    //border-bottom: 5px solid  rgba(0, 174, 239, 1);
}

.well.intro {
    border: none;
}

.data {
    background-color: rgba(252, 141, 89, 1);
    //border-bottom: 5px solid rgba(252, 141, 89, 1);
}

.faqs {
    background-color: rgba(127, 205, 187, 1);
    //border-bottom: 5px solid rgba(127, 205, 187, 1);
    //border-color:  #7FCDBB;
}

.well.intro {
    background-color: rgba(44, 127, 184, 0.3);
}

.well.data {
    background-color:  rgba(252, 141, 89, 0.3);
}

.well.faqs {
    border: none;
    background-color: rgba(127, 205, 187, 0.3);
}

.map-data {
    background-color: #f00;
    //border-bottom: 5px solid #f00;
    //border-color:  #f00;
}

.well.map-data {
    border: none;
    background-color: #f00;
}

.simple-navbar {
    display: block;
    border-bottom: 3px solid #275F55;
    width: 100%;
    padding-left: 30px;
}

.simple-navbar h1 {
    display: inline-block;
    padding: 7px 0 0 0;
    margin: 10px 5px -4px 5px;
    height: 43px;
    font-size: 22px;
}

.simple-buttons {
    margin-right: 25px;
}

.simple-link {
    cursor: pointer;
    border: 1px solid
    border-style: solid;
    border-bottom-width: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    margin: 13px 5px 0px 5px;
    text-align: center;
    height: 40px;
    padding: 5px 0 0 0;
    width: 135px;
    font-size: 18px;
}

.simple-link:hover {
    border-bottom-width: 8px;
    vertical-align: bottom;
}

.simple-link.active {
    font-weight: bold;
    vertical-align: bottom;
    color: #fff;
    border-bottom-width: 8px;
    vertical-align: bottom;
}

/**
 * Data table
 */
.table-container {
    max-width: 1200px;
    margin: auto auto;
}

.table {
    margin: 0 !important;
    min-width: 883px;
    overflow: visible;
}

th {
    padding: 10px 10px 0px 10px !important;
}

/* header info buttons */
a.btn.btn-primary.btn-xs.info {
    color: white;
}


th:first-child {
    min-width: 200px;
}

th:last-child {
    padding: 0px !important;
    min-width: 266px;
}

#intro th {
    padding: 10px 10px 10px 10px !important;
    min-width: 266px;
    font-size: 1.2em;
}

td {
    text-align: center;
    vertical-align: middle !important;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}

td:first-child {
    padding-left: 10px !important;
    text-align: left;
}

.hide {
    display: none;
}

.slider-container {
    position: relative;
    padding: 10px 0px 0px !important;
    margin: 0 !important;
    min-width: 300px;
    width: 100%;
    height: 100px;
    cursor: pointer;
    display: block;
    text-align: center;
    vertical-align: top;
}

.slider-container p {
    margin-bottom: 0;
}

.slider {
    margin: 0 !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    max-width: 100% !important;
    width: 80% !important;
    padding: 0px !important;
    vertical-align: top;
    cursor: pointer;
    float: left;
}

.slider input {
    cursor: pointer;
    padding:0 !important;
    margin: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    display: inline-block !important;
}

.slider-label {
    margin: auto auto;
    font-size: 12px;
    max-width: 80%;
    width: 80%;
    height: 15px;
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.axis-container {
    position: relative;
    margin-left: 15px;
    clear: both;
}

.tick {
    width: 1px;
    height: 738px;
    padding-top: 0px;
    margin: 0;
    top: 0px;
    position: absolute;
    z-index: 1000;
    border-left: 1px dashed black;
}

.tick-label {
    position: relative;
    margin-left: -16px;
    z-index: 1001;
    font-weight: 200 !important;
    font-size: 18px;
    color: #ffffff;
}

#detail {
    //width: 320px;
}

#detail .axis-container {
    height: 20px;
}

#detail .tick {
    height: 69px;
}

#detail .tick-label {
    color: #000000;
}

/* button which opens hospital info modal */
.h-info {
    cursor: pointer;
    float: right;
    display: inline-block;
    width: 45px;
    height: 100%;
    border: 1px solid #2e6da4;;
    border-radius: 5px;
    padding: 2px 0;
}
.h-info:hover {
    background-color: #337ab7;
    color: white;
    text-decoration: none;
}

.modal-open .modal {
    overflow-x: visible;
    overflow-y: visible;
}

.modal-body {
    margin: 0px 20px;
}

.modal.tick {
    width: 1px;
    height: 65px;
    padding-top: 0px;
    margin: 0;
    top: -15px;
    position: absolute;
    z-index: 2000;
    border-left: 1px dashed black;
    display: inline-block;
}

.modal.tick-label {
    position: relative;
    margin-left: -16px;
    z-index: 2001;
    font-weight: 200 !important;
    font-size: 18px;
    color: black;
    display: inline-block;
}

#axis {
    width: 100%;
    height: 2px;
    padding: 0;
    margin-top: 0px;
    background-color: red;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: black;
    position: absolute;
    top: 7px;
    padding:0;
    margin:0;
}

.bar {
    vertical-align: middle;
    display: inline-table;
    margin: 10px 0 0 !important;
    padding: 0 !important;
    height: 25px;
}

.bar-chart{
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none; /*1px solid #dddddd;*/
    position: relative !important;
    white-space: nowrap;
    display: inline-block;
    /*background-color: white !important;*/
}

.chart-cell {
    background-color: #f9f9f9;
    height: 50px;
}

.dropdown > ul {
    display: none;
}
.dropdown .fa-caret-up {
    display: none;
}

.dropdown.open > ul {
    display: block;
}

.dropdown.open .fa-caret-down {
    display: none;
}
.dropdown.open .fa-caret-up {
    display: inline;
}


/* options */
.options {
    width: 500px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid grey;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.popover-title {
    background-color: #578fd2;
    color: white;
}

.popover-content {
    color: black;
}

.tooltip {
    border-radius: 50%;
    max-width: 400px !important;
}

.tooltip-inner {
    font-size: 14px;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
}

.tooltip-arrow {
    font-size: 20px;
    color: white;
    background-color: #ffffff;
}

#map {
    height: 200px;
    width: 200px;
}

.footer {
  color: white;
  background-color: #475E63;
  padding: 20px 60px;
  font-size: 14px;
  margin: 50px 0px 0px 0px !important;
}

#intro th {
    background-color: #343456;
    color: rgba(255,255,255,0.7);
    padding: 20px;
}

#intro td, #intro th {
    text-align: left;
    display: grid;
    width: 200px;
}

#intro td a, #intro th a {
    text-align: left;
    margin: 0px 20px;
    display: block;
    width: 200px;
}

#intro .table.col-md-3 {
    display: block;
    width: 500px;
}


.two-col {
    column-width: 24em;
    -webkit-column-width: 24em;
    -moz-column-width: 24em;
}

.no-break {
    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    -o-column-break-inside:avoid;
    -ms-column-break-inside:avoid;
    column-break-inside:avoid;
}

.bg-danger {
    padding: 10px;
}


/***
 * MAP CSS
 **/
.hospital-map {
    width: 320px;
    height: 480px;
    position: relative;
    border: 1px solid grey;
}

.ol-rotate {
    opacity: 0 !important;
    cursor: inherit !important;
}

#popup {
    pointer-events: none;
    width: 200px;
}

.map-buttons {
    width: 350px;
    height: 100%;
}

.h-button {
    display: block;
    position: absolute;
    z-index: 10000;
    top: 10px;
    left: 190px;
    opacity: 0.6 !important;
}

.map-menu {
    display: block;
    position: absolute;
    z-index: 10000;
    top: 10px;
    left: 245px;
    opacity: 0.6 !important;
}

.dropdown-menu {
    font-size: 12px;
    opacity: 0.7;
    cursor: pointer;
}

.ol-attribution li {
    font-size: 160%;
}

.map-container {
    display: inline-table;
    width: 320px;
}

.detail-container {
    display: inline-table;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 30px;
    min-width: 320px;
    width: calc(100% - 320px);
}

i.fa.red {
    color: #ff0000;
}

i.fa.black {
    color: #000000;
}

#paste-box a.btn.btn-link {
    color: #0df;
}

#paste-box textarea {
    color: #000;
}

/**
 * New bubble faqs
 */
.bubble-group h2 {
    margin: 0;
    padding-top: 20px;
    clear: both;
}

.bubble {
    border: none;
    border-radius: 20px;
    color: white;
    box-shadow: 1px 1px 1px grey;
    text-shadow: -1px -1px 1px grey;
    padding: 20px 20px 22px 20px;
    font-family: chalkboard, comic-sans;
    font-size: 20px;
    max-width: 400px;
    margin:10px;
    position: relative;
    cursor: pointer;
}

.callout {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 1px 1px 1px grey;
    background-color: rgba(127, 205, 187, 1);
    width: 20px;
    height: 20px;
    bottom: -9px;
    right: 20px;
    position: absolute;
}

.bubble:hover {
    box-shadow: 1px 1px 4px black;
}

.callout:hover {
    box-shadow: 2px 2px 2px grey;
}


.left {
    left: 20px;
}

.right {
    right: 20px;
}

.on-left {
    margin-left: 60px;
    float: left;
    clear: both;
}

.on-right {
    margin-right: 60px;
    float: right;
    clear: both;
}

.bubble-group {
    clear: both;
    float: left;
    width: 100%;
    padding: 10px 20px 40px 20px;;
    margin: 20px 5px 20px 0px;
    box-shadow: 2px 2px 6px grey;
}

body { padding-top: 70px; }


.navbar-simple .brand {
 	padding-top: 15px;
	padding-bottom: 15px;
        background-color: white;
        height: 52px;
}
.navbar-simple .navbar-inner {
//	background: #fff;
	filter: none !important;
//	box-shadow: 0 2px 15px rgba(0,0,0,0.25);
//	-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
//	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
//
}
.navbar-simple .navbar-inner .nav {
	float: right;
//	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-simple .navbar-inner .nav li a {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #777;
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
}
.navbar-simple .navbar-inner .nav li a:hover {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #bf3604;
}
.navbar-simple .navbar-inner .nav li.active a {
	color: #bf3604;
}

/* ------ */

.navbar-prais2 {
    margin-bottom: 0px;
    background-color: rgba(71, 94, 99, 0);
}

.navbar-toggle {
    border: 1px solid black;
}
.navbar-toggle .icon-bar {
    background-color: black;
}


#navbar.navbar-collapse.collapse.in {
    background-color: none;
    float: right;
    padding-right: 15px;
    border-width: 0;
}

.nav-item {
    color: rgb(255,255,255);
    //height: 35px;
    border: none;
    border-radius: 25px;
    width: 144px;
    padding: 8px;
    margin-left:15px;
    opacity: 0.5;
}

.nav-item:focus {
    outline: none;
}

.active.nav-item {
    opacity: 1;
}

ul.nav.navbar-nav.navbar-right {
    //float: right;
    //clear: right;
    margin: 0 -5px;
    background-color: rgba(255,255,255,0.9);
    padding:0px 15px 0px 0px;
    //box-shadow: 0 2px 15px rgba(0,0,0,0.25);
    //-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
    //-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
    //border-bottom: 1px solid rgba(0,0,0,0.2);
}

.in .nav-item {
    display: inline;
}

.nav-item:hover {
    opacity: 1;
}
.nav-item.simple-title {
    color: rgba(255,255,255,1);
}
