/* some style */
.fa {
    float: right;
    /* padding-left: 10px; */
}

.dot {
    width: 12px;
    height: 12px;
    border-radius:100%;
    background-color: black;
    position: absolute;
    top: 7px;
}

.a-bar {
    vertical-align: middle;
    display: inline-table;
    margin: 0;
    padding: 0;
    height: 25px;
}

.bar-chart{
    padding: 0 !important;
    margin: 0;
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none; /*1px solid #dddddd;*/
    position: relative !important;
    white-space: nowrap;
    display: inline-block;
    background-color: white;
}

.chart-cell {
    padding: 0 !important;
    margin: 0 !important;
    background-color: pink;
}
