* {
    box-sizing: border-box !important;
}


.table {
    margin: 0 !important;
}

@media print {

    #table1 {
        display:none;
    }

    #table2 thead i {
        display:none;
    }

    #table2 thead .slider {
        display:none;
    }

    #table2 thead .slider-label {
        display:none;
    }

    #table2 thead * {
        background-color: #7fcdbb !important;
    }

}

@media screen {
    #table2 thead {
        display: none;
    }
}


.fixed {
    width: 100%;
    position: fixed !important;
    top: 0 !important;
    z-index: 1 !important;
    box-shadow: 0px 2px 2em 0px rgba(0,0,0,0.3);
}

.content {
    width: 100%;
    position: relative;
    background: #fff;
    z-index: 0;
    /*    padding: 50px;*/
    padding: 0px;
    margin: 0;
    margin-top:110px;
    box-sizing: border-box;
}

th {
    padding: 10px 15px 0px !important;
    background-color: #BCE8DD;
    color: red;
}

th:first-child {
    width: 200px;
}

.axis-container {
    padding: 10px 15px 0px !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 100px;
    cursor: pointer;
    display: block;
    text-align: center;
    vertical-align: top;
}

.slider {
    margin: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80%;
    padding: 0px !important;
    vertical-align: top;
    cursor: pointer;
}

.slider * {
    cursor: pointer;
}

.slider-label {
    margin: auto auto;
    font-size: 12px;
    max-width: 80%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.tick {
    width: 1px;
    height: 870px;
    padding-top: 0px;
    margin: 0;
    top:0;
    left: 50%;
    position: relative;
    z-index: 1000;
    background-color: #cccccc;
}

.tick-label {
    border: 2px solid red;
    margin-left: -15px;
    z-index: 1001;
    font-size: 20px;
    color: #cccccc;
}

#axis {
    width: 100%;
    height: 2px;
    padding: 0;
    margin-top: 0px;
    background-color: red;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius:100%;
    border: 1px solid white;
    background-color: black;
    position: absolute;
    top: 7px;
    padding:0;
    margin:0;
}

.a-bar {
    vertical-align: middle;
    display: inline-table;
    margin: 0;
    padding: 0;
    height: 25px;
}

.bar-chart{
    padding: 0 !important;
    margin: 0;
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none; /*1px solid #dddddd;*/
    position: relative !important;
    white-space: nowrap;
    display: inline-block;
    background-color: white;
}

.chart-cell {
    padding:15px !important; /*0px 15px !important;*/
    background-color: #FFffff;
